.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  display: flex;
  justify-content: center;
  font-size: 15vh;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  margin-top: 10px;
  background-color: rgb(115, 179, 115);
  border-radius: 15px;
  border: 3px solid rgb(84, 145, 84);
  font-size: 20px;
  color: rgb(36, 72, 36);
}

.disabledButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  margin-top: 10px;
  background-color: rgb(168, 184, 168);
  border-radius: 15px;
  border: 3px solid rgb(127, 156, 127);
  font-size: 20px;
  color: rgb(74, 115, 74);
  cursor: not-allowed;
}

.button:hover {
  background-color: rgb(121, 179, 121);
  border: 2px solid rgb(85, 161, 85);
}
