.longCard {
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: rgb(215, 218, 214);
  border: 3px solid rgb(198, 202, 196);
  width: 900px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.longCardBar {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 50px;
  background-color: rgb(121, 179, 121);
  border: 3px solid rgb(85, 161, 85);
  color: rgb(49, 92, 40);
  margin: -3px -3px 0 -3px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 20px;
}

.longCardContent {
  flex: 1; /* ocupa tudo que sobrou do card, descontando o 35px do cardBar */
  display: flex;
}
